# Finance Data Project

Visualizing data analysis of stock prices using the Quandl API

**Notice : QUANDL/WIKI as of "March 2018" is no longer updated. Be sure to check the validity of your API before using them !**

### Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas_datareader.data as web
import datetime

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

### Importing Quandl api

In [7]:
import quandl
api_key = open('quandl_apikey.txt','r').read()
quandl.ApiConfig.api_key = api_key

## Get the Data

We will get the data using pandas-reader from a list of banks, using their ticker symbols :
- Bank of America - BAC
- CitiGroup
- Goldman Sachs
- JPMorgan Chase
- Morgan Stanley
- Wells Fargo

The job would be to figure out how to get the stock data from Jan 1st 2006 to Jan 1st 2016. Each Bank should stand in a separate dataframe

In [8]:
#define  the time interval 
start = datetime.datetime(2006,1,1)
end = datetime.datetime(2016,1,1)

**Bank of America stocks**

In [18]:
BAC = quandl.get('WIKI/BAC',start_date=start,end_date=end)

In [19]:
BAC

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2006-01-03,46.92,47.1800,46.150,47.08,16296700.0,0.00,1.0,37.126108,37.331837,36.516835,37.252710,16296700.0
2006-01-04,47.00,47.2400,46.450,46.58,17757900.0,0.00,1.0,37.189409,37.379312,36.754214,36.857078,17757900.0
2006-01-05,46.58,46.8300,46.320,46.64,14970700.0,0.00,1.0,36.857078,37.054894,36.651349,36.904554,14970700.0
2006-01-06,46.80,46.9100,46.350,46.57,12599800.0,0.00,1.0,37.031156,37.118195,36.675087,36.849165,12599800.0
2006-01-09,46.72,46.9700,46.360,46.60,15619400.0,0.00,1.0,36.967855,37.165671,36.683000,36.872903,15619400.0
2006-01-10,46.40,46.5100,45.880,46.21,15634600.0,0.00,1.0,36.714651,36.801690,36.303193,36.564310,15634600.0
2006-01-11,46.06,46.2500,45.750,46.10,14742100.0,0.00,1.0,36.445621,36.595961,36.200329,36.477271,14742100.0
2006-01-12,46.22,46.2300,45.710,45.80,10546600.0,0.00,1.0,36.572223,36.580136,36.168678,36.239892,10546600.0
2006-01-13,45.83,46.0000,45.680,45.80,10791000.0,0.00,1.0,36.263630,36.398145,36.144940,36.239892,10791000.0
2006-01-17,45.40,45.5800,45.000,45.31,14605900.0,0.00,1.0,35.923387,36.065814,35.606881,35.852173,14605900.0
2006-01-18,45.32,45.6500,44.920,45.26,10867000.0,0.00,1.0,35.860085,36.121203,35.543580,35.812610,10867000.0
2006-01-19,45.88,45.8800,44.850,45.14,14584000.0,0.00,1.0,36.303193,36.303193,35.488191,35.717658,14584000.0
2006-01-20,45.00,45.1500,44.170,44.19,24950800.0,0.00,1.0,35.606881,35.725571,34.950132,34.965957,24950800.0
2006-01-23,43.50,44.3900,43.490,43.96,23459500.0,0.00,1.0,34.419985,35.124210,34.412072,34.783966,23459500.0
2006-01-24,44.08,44.6800,44.040,44.24,13500300.0,0.00,1.0,34.878918,35.353676,34.847267,35.005520,13500300.0
2006-01-25,44.15,44.6500,44.150,44.63,15132000.0,0.00,1.0,34.934307,35.329939,34.934307,35.314113,15132000.0
2006-01-26,45.00,45.1600,44.670,44.90,18449100.0,0.00,1.0,35.606881,35.733483,35.345764,35.527755,18449100.0
2006-01-27,44.90,45.1100,44.610,44.80,12250800.0,0.00,1.0,35.527755,35.693920,35.298288,35.448628,12250800.0
2006-01-30,44.75,45.3500,44.250,44.48,14812100.0,0.00,1.0,35.409065,35.883823,35.013433,35.195424,14812100.0
2006-01-31,44.65,44.7300,44.120,44.23,19151000.0,0.00,1.0,35.329939,35.393240,34.910569,34.997608,19151000.0
2006-02-01,44.10,44.2400,43.860,43.95,15854700.0,0.00,1.0,34.894743,35.005520,34.704840,34.776054,15854700.0
2006-02-02,43.95,43.9700,43.370,43.44,14745100.0,0.00,1.0,34.776054,34.791879,34.317121,34.372509,14745100.0
2006-02-03,43.30,43.5500,42.920,43.09,17097000.0,0.00,1.0,34.261732,34.459548,33.961052,34.095567,17097000.0
2006-02-06,43.40,43.6500,43.240,43.37,12554600.0,0.00,1.0,34.340859,34.538675,34.214256,34.317121,12554600.0
2006-02-07,43.60,43.8700,43.460,43.49,13914200.0,0.00,1.0,34.499111,34.712753,34.388334,34.412072,13914200.0
2006-02-08,43.55,43.7200,43.340,43.67,11101600.0,0.00,1.0,34.459548,34.594063,34.293383,34.554500,11101600.0
2006-02-09,43.75,44.0500,43.700,43.83,13766200.0,0.00,1.0,34.617801,34.855180,34.578238,34.681102,13766200.0
2006-02-10,43.77,44.0200,43.410,43.92,9038900.0,0.00,1.0,34.633626,34.831442,34.348771,34.752316,9038900.0
2006-02-13,43.70,43.9600,43.300,43.70,8329500.0,0.00,1.0,34.578238,34.783966,34.261732,34.578238,8329500.0
2006-02-14,43.92,44.4900,43.730,44.16,17049200.0,0.00,1.0,34.752316,35.203336,34.601976,34.942219,17049200.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2015-11-18,17.43,17.8700,17.430,17.84,85633743.0,0.00,1.0,16.925222,17.352479,16.925222,17.323348,85633743.0
2015-11-19,17.78,17.8500,17.620,17.69,51812145.0,0.00,1.0,17.265086,17.333059,17.109719,17.177692,51812145.0
2015-11-20,17.81,17.8326,17.590,17.65,56264227.0,0.00,1.0,17.294217,17.316162,17.080588,17.138851,56264227.0
2015-11-23,17.62,17.7300,17.460,17.47,50350218.0,0.00,1.0,17.109719,17.216534,16.954353,16.964063,50350218.0
2015-11-24,17.26,17.5700,17.250,17.47,58724161.0,0.00,1.0,16.760145,17.061167,16.750435,16.964063,58724161.0
2015-11-25,17.51,17.5700,17.410,17.44,34926498.0,0.00,1.0,17.002905,17.061167,16.905801,16.934932,34926498.0
2015-11-27,17.46,17.5000,17.330,17.48,22937528.0,0.00,1.0,16.954353,16.993195,16.828118,16.973774,22937528.0
2015-11-30,17.48,17.5800,17.420,17.43,61852667.0,0.00,1.0,16.973774,17.070878,16.915511,16.925222,61852667.0
2015-12-01,17.52,17.8100,17.480,17.81,74298721.0,0.00,1.0,17.012615,17.294217,16.973774,17.294217,74298721.0
2015-12-02,17.88,17.8900,17.550,17.62,76857387.0,0.05,1.0,17.411458,17.421196,17.090106,17.158271,76857387.0
2015-12-03,17.68,17.7650,17.250,17.30,95781361.0,0.00,1.0,17.216699,17.299472,16.797967,16.846657,95781361.0
2015-12-04,17.44,17.8300,17.380,17.80,102999510.0,0.00,1.0,16.982988,17.362768,16.924561,17.333554,102999510.0
2015-12-07,17.79,17.8000,17.440,17.54,81623517.0,0.00,1.0,17.323817,17.333554,16.982988,17.080368,81623517.0
2015-12-08,17.39,17.4590,17.130,17.19,84772872.0,0.00,1.0,16.934298,17.001490,16.681112,16.739539,84772872.0
2015-12-09,17.11,17.3800,16.870,17.10,82418050.0,0.00,1.0,16.661636,16.924561,16.427925,16.651898,82418050.0
2015-12-10,17.15,17.4100,16.960,17.20,68375559.0,0.00,1.0,16.700588,16.953774,16.515567,16.749277,68375559.0
2015-12-11,16.97,17.0600,16.640,16.73,91451006.0,0.00,1.0,16.525304,16.612946,16.203952,16.291594,91451006.0
2015-12-14,16.76,16.8900,16.495,16.80,121067256.0,0.00,1.0,16.320807,16.447401,16.062752,16.359759,121067256.0
2015-12-15,17.02,17.4900,16.990,17.42,99737154.0,0.00,1.0,16.573994,17.031678,16.544780,16.963512,99737154.0
2015-12-16,17.65,17.7800,17.230,17.75,171512739.0,0.00,1.0,17.187485,17.314079,16.778491,17.284865,171512739.0
2015-12-17,17.80,17.8300,17.300,17.30,97265726.0,0.00,1.0,17.333554,17.362768,16.846657,16.846657,97265726.0
2015-12-18,17.19,17.2650,16.760,16.76,136520314.0,0.00,1.0,16.739539,16.812574,16.320807,16.320807,136520314.0
2015-12-21,16.98,17.0299,16.770,16.97,65133240.0,0.00,1.0,16.535042,16.583635,16.330545,16.525304,65133240.0
2015-12-22,17.05,17.1100,16.850,17.08,56144957.0,0.00,1.0,16.603208,16.661636,16.408449,16.632422,56144957.0
2015-12-23,17.16,17.3400,17.095,17.34,65700709.0,0.00,1.0,16.710326,16.885609,16.647029,16.885609,65700709.0
2015-12-24,17.32,17.3800,17.220,17.27,29373415.0,0.00,1.0,16.866133,16.924561,16.768753,16.817443,29373415.0
2015-12-28,17.22,17.2300,16.980,17.13,41759993.0,0.00,1.0,16.768753,16.778491,16.535042,16.681112,41759993.0
2015-12-29,17.25,17.3500,17.160,17.28,45628449.0,0.00,1.0,16.797967,16.895347,16.710326,16.827181,45628449.0
2015-12-30,17.20,17.2400,17.040,17.05,35035518.0,0.00,1.0,16.749277,16.788229,16.593470,16.603208,35035518.0
2015-12-31,17.01,17.0700,16.830,16.83,47106760.0,0.00,1.0,16.564256,16.622684,16.388973,16.388973,47106760.0

**Adding the other Banks**

In [20]:
#CitiGroup
C   = quandl.get('WIKI/C',start_date=start,end_date=end)
#Goldman Sachs
GS  = quandl.get('WIKI/GS',start_date=start,end_date=end)
#JPMorgan Chase
JPM = quandl.get('WIKI/JPM',start_date=start,end_date=end)
# Morgan Stanley
MS  = quandl.get('WIKI/MS',start_date=start,end_date=end)
#Wells Fargo
WFC = quandl.get('WIKI/WFC',start_date=start,end_date=end)

In [21]:
#Morgan Stanley data
MS.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2006-01-03,57.17,58.49,56.7400,58.31,5377000.0,0.0,1.0,39.548112,40.461240,39.250654,40.336722,5377000.0
2006-01-04,58.70,59.28,58.3500,58.35,7977800.0,0.0,1.0,40.606510,41.007733,40.364393,40.364393,7977800.0
2006-01-05,58.55,58.59,58.0200,58.51,5778000.0,0.0,1.0,40.502745,40.530416,40.136111,40.475075,5778000.0
2006-01-06,58.77,58.85,58.0500,58.57,6889800.0,0.0,1.0,40.654933,40.710275,40.156864,40.516581,6889800.0
2006-01-09,58.63,59.29,58.6244,59.19,4144500.0,0.0,1.0,40.558087,41.014650,40.554213,40.945474,4144500.0

#### Creating a list of the ticker symbols as stringd in alphabetical order

In [22]:
tickers = ['BAC','C','GS','JPM','MS','WFC']

#### Concatenate the bank dfs in a single one called 'bank stocks'.

In [23]:
bank_stocks = pd.concat([BAC,C,GS,JPM,MS,WFC],axis=1,keys=tickers)

In [25]:
bank_stocks.head()

              BAC                                                           \
             Open   High    Low  Close      Volume Ex-Dividend Split Ratio
Date
2006-01-03  46.92  47.18  46.15  47.08  16296700.0         0.0         1.0
2006-01-04  47.00  47.24  46.45  46.58  17757900.0         0.0         1.0
2006-01-05  46.58  46.83  46.32  46.64  14970700.0         0.0         1.0
2006-01-06  46.80  46.91  46.35  46.57  12599800.0         0.0         1.0
2006-01-09  46.72  46.97  46.36  46.60  15619400.0         0.0         1.0

                                                ...        WFC         \
            Adj. Open  Adj. High   Adj. Low     ...        Low  Close
Date                                            ...
2006-01-03  37.126108  37.331837  36.516835     ...      62.39  63.80
2006-01-04  37.189409  37.379312  36.754214     ...      62.73  63.06
2006-01-05  36.857078  37.054894  36.651349     ...      62.62  62.99
2006-01-06  37.031156  37.118195  36.675087     ...      62.77  63.36
2006-01-09  36.967855  37.165671  36.683000     ...      63.11  63.35

                                                                     \
               Volume Ex-Dividend Split Ratio  Adj. Open  Adj. High
Date
2006-01-03  5508200.0         0.0         1.0  22.799832  23.070400
2006-01-04  5435000.0         0.0         1.0  22.944135  22.958566
2006-01-05  5079000.0         0.0         1.0  22.727681  22.767364
2006-01-06  4201900.0         0.0         1.0  22.785402  22.926097
2006-01-09  2809800.0         0.0         1.0  22.853946  22.962173


             Adj. Low Adj. Close Adj. Volume
Date
2006-01-03  22.507619  23.016287  11016400.0
2006-01-04  22.630277  22.749327  10870000.0
2006-01-05  22.590594  22.724074  10158000.0
2006-01-06  22.644707  22.857554   8403800.0
2006-01-09  22.767364  22.853946   5619600.0

[5 rows x 72 columns]

#### Setting the column name levels

In [26]:
bank_stocks.columns.names = ['Bank Ticker','Stock Info']

In [27]:
bank_stocks.head()

Bank Ticker    BAC                                                           \
Stock Info    Open   High    Low  Close      Volume Ex-Dividend Split Ratio
Date
2006-01-03   46.92  47.18  46.15  47.08  16296700.0         0.0         1.0
2006-01-04   47.00  47.24  46.45  46.58  17757900.0         0.0         1.0
2006-01-05   46.58  46.83  46.32  46.64  14970700.0         0.0         1.0
2006-01-06   46.80  46.91  46.35  46.57  12599800.0         0.0         1.0
2006-01-09   46.72  46.97  46.36  46.60  15619400.0         0.0         1.0

Bank Ticker                                      ...        WFC         \
Stock Info   Adj. Open  Adj. High   Adj. Low     ...        Low  Close
Date                                             ...
2006-01-03   37.126108  37.331837  36.516835     ...      62.39  63.80
2006-01-04   37.189409  37.379312  36.754214     ...      62.73  63.06
2006-01-05   36.857078  37.054894  36.651349     ...      62.62  62.99
2006-01-06   37.031156  37.118195  36.675087     ...      62.77  63.36
2006-01-09   36.967855  37.165671  36.683000     ...      63.11  63.35

Bank Ticker                                                           \
Stock Info      Volume Ex-Dividend Split Ratio  Adj. Open  Adj. High
Date
2006-01-03   5508200.0         0.0         1.0  22.799832  23.070400
2006-01-04   5435000.0         0.0         1.0  22.944135  22.958566
2006-01-05   5079000.0         0.0         1.0  22.727681  22.767364
2006-01-06   4201900.0         0.0         1.0  22.785402  22.926097
2006-01-09   2809800.0         0.0         1.0  22.853946  22.962173

Bank Ticker
Stock Info    Adj. Low Adj. Close Adj. Volume
Date
2006-01-03   22.507619  23.016287  11016400.0
2006-01-04   22.630277  22.749327  10870000.0
2006-01-05   22.590594  22.724074  10158000.0
2006-01-06   22.644707  22.857554   8403800.0
2006-01-09   22.767364  22.853946   5619600.0

[5 rows x 72 columns]